.main{
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-rows: max-content;
}

.header{
  margin: 0;
  background: black;
  color: white;
  padding: 0.5rem 0 0.5rem 0.5rem;
}

.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
}